li {
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease-in;

    .icon-link {
        margin-right: 10px;
    }
}

li.active {
    color: red;
    background-color: rgba(51, 51, 51, 0.705);
}